In [135]:
import pandas as pd

In [136]:
tmdb_movies = pd.read_csv('tmdb.movies.csv.gz')

In [137]:
movie_critic = pd.read_csv('rotten_tomatoes_critic_reviews.csv.gz')
movie_critic

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...
...,...,...,...,...,...,...,...,...
1130012,m/zulu_dawn,Chuck O'Leary,False,Fantastica Daily,Rotten,2/5,2005-11-02,NaN
1130013,m/zulu_dawn,Ken Hanke,False,"Mountain Xpress (Asheville, NC)",Fresh,3.5/5,2007-03-07,"Seen today, it's not only a startling indictme..."
1130014,m/zulu_dawn,Dennis Schwartz,False,Dennis Schwartz Movie Reviews,Fresh,B+,2010-09-16,A rousing visual spectacle that's a prequel of...
1130015,m/zulu_dawn,Christopher Lloyd,False,Sarasota Herald-Tribune,Rotten,3.5/5,2011-02-28,"A simple two-act story: Prelude to war, and th..."
1130016,m/zulu_dawn,Brent McKnight,False,The Last Thing I See,Rotten,C,2020-07-09,Rides the line between being a pure artifact o...

In [138]:
#drop NA values 
movie_critic = movie_critic.dropna()
movie_critic

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
6,m/0814255,Nick Schager,False,Slant Magazine,Rotten,1/4,2010-02-10,Harry Potter knockoffs don't come more transpa...
7,m/0814255,Bill Goodykoontz,True,Arizona Republic,Fresh,3.5/5,2010-02-10,"Percy Jackson isn't a great movie, but it's a ..."
8,m/0814255,Jordan Hoffman,False,UGO,Fresh,B,2010-02-10,"Fun, brisk and imaginative"
9,m/0814255,Jim Schembri,True,The Age (Australia),Fresh,3/5,2010-02-10,"Crammed with dragons, set-destroying fights an..."
...,...,...,...,...,...,...,...,...
1130004,m/zulu,Tony Sloman,False,Radio Times,Fresh,5/5,2017-07-10,The movie is a revelation.
1130013,m/zulu_dawn,Ken Hanke,False,"Mountain Xpress (Asheville, NC)",Fresh,3.5/5,2007-03-07,"Seen today, it's not only a startling indictme..."
1130014,m/zulu_dawn,Dennis Schwartz,False,Dennis Schwartz Movie Reviews,Fresh,B+,2010-09-16,A rousing visual spectacle that's a prequel of...
1130015,m/zulu_dawn,Christopher Lloyd,False,Sarasota Herald-Tribune,Rotten,3.5/5,2011-02-28,"A simple two-act story: Prelude to war, and th..."
1130016,m/zulu_dawn,Brent McKnight,False,The Last Thing I See,Rotten,C,2020-07-09,Rides the line between being a pure artifact o...

In [139]:
#dropped all unnecessary data and now sorting to see more information about the review date.

In [140]:
sorted_movie_critic = movie_critic.sort_values(['review_date'], ascending=False)
sorted_movie_critic =sorted_movie_critic.dropna()

sorted_movie_critic

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
1116640,m/working_girl,Nicholas Bell,False,IONCINEMA.com,Fresh,4/5,2020-10-29,"A buoyant, emotionally gratifying underdog sto..."
1078687,m/vernon_florida,Jordan M. Smith,False,IONCINEMA.com,Fresh,4/5,2020-10-28,"Vernon, Florida feels more like an endearingly..."
1078144,m/venom_2018,David Hogan,False,hoganreviews.co.uk,Fresh,3/5,2020-10-28,Has some fun set-pieces and worked around the ...
1077715,m/velvet_buzzsaw,Yago García,False,Cinemanía (Spain),Fresh,3.5/5,2020-10-28,[Velvet Buzzsaw] metamorphoses into one of tho...
1120068,m/x_the_man_with_the_x_ray_eyes,Matt Brunson,False,Film Frenzy,Fresh,3/4,2020-10-28,This nifty slice of sci-fi basically plays lik...
...,...,...,...,...,...,...,...,...
10925,m/10010335-rab_ne_bana_di_jodi,Raam Tarat,False,Future Movies UK,Fresh,4/5,1800-01-01,"It's well put together, colourful, typifies In..."
1044018,m/to_catch_a_thief,Bob Westal,False,Bullz-Eye.com,Fresh,3/5,1800-01-01,"This enjoyable mixture of wit, low voltage int..."
1083882,m/wah-do-dem,Wesley Morris,True,Boston Globe,Rotten,1/4,1800-01-01,"""Wah do dem'' is Jamaican patois for ""What's w..."
1083880,m/wah-do-dem,V.A. Musetto,True,New York Post,Fresh,2.5/4,1800-01-01,Slight but satisfying.
408542,m/heartless-2009,Tim Robey,True,Daily Telegraph (UK),Fresh,3/5,1800-01-01,It's exciting to see a British horror film wit...

In [141]:
movie_critic.value_counts('review_date').head(10)

review_date
2000-01-01    22100
2003-05-20     1027
2004-10-23      792
2018-11-01      764
2005-12-06      761
2018-10-31      710
2008-10-18      699
2002-07-26      650
2018-11-02      610
2010-07-06      570
dtype: int64

In [7]:
rt_movies = pd.read_csv('rotten_tomatoes_movies.csv.gz')

In [9]:
movie_budgets = pd.read_csv('tn.movie_budgets.csv.gz')

In [10]:
movie_gross =  pd.read_csv('bom.movie_gross.csv.gz')

In [27]:
title_basics = pd.read_csv('imdb.title.basics.csv.gz')

In [12]:
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [13]:
title_basics = title_basics.dropna()
title_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
...,...,...,...,...,...,...
146134,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary
146135,tt9916170,The Rehearsal,O Ensaio,2019,51.0,Drama
146136,tt9916186,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,2017,84.0,Documentary
146137,tt9916190,Safeguard,Safeguard,2019,90.0,"Drama,Thriller"
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama

In [14]:
title_basics.value_counts('genres').head(10)

genres
Documentary              24672
Drama                    15725
Comedy                    6413
Comedy,Drama              3163
Horror                    2975
Biography,Documentary     2052
Thriller                  1924
Drama,Romance             1806
Documentary,Drama         1515
Comedy,Drama,Romance      1451
dtype: int64

In [52]:
title_ratings = pd.read_csv('imdb.title.ratings.csv.gz')
title_ratings

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [64]:
print(title_ratings.isnull().sum())

tconst           0
averagerating    0
numvotes         0
dtype: int64

In [154]:
frames = [title_ratings, title_basics]
ratings_basics = pd.merge(frames[0], frames[1], how = 'right',  on = ['tconst'])
ratings_basics

,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,7.0,77.0,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,7.2,43.0,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,6.9,4517.0,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,6.1,13.0,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,6.5,119.0,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...,...,...
146139,tt9916538,NaN,NaN,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,NaN,NaN,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,NaN,NaN,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,NaN,NaN,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,NaN,NaN,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [155]:
ratings_basics = ratings_basics.drop(columns = 'original_title')

In [192]:
ratings_basics = ratings_basics.dropna()

In [188]:
top_genres = ratings_basics['genres'].value_counts().head(10).index

In [ ]:
#created a list of the top 10 genres we want to look into ^^^^

In [193]:
ratings_basics['numvotes'].describe()

count    6.572000e+04
mean     3.954674e+03
std      3.208823e+04
min      5.000000e+00
25%      1.600000e+01
50%      6.200000e+01
75%      3.520000e+02
max      1.841066e+06
Name: numvotes, dtype: float64

In [194]:
#What is the difference between a short film and a movie?
#A short film is basically any film that is too short to be considered a feature film. ... The special effects, music, actors, and all other aspects of a movie are irrelevant; the only thing that is relevant to defining a film as a “short film” is simply its length.
ratings_basics['runtime_minutes'].describe()

count    65720.000000
mean        94.732273
std        209.377017
min          3.000000
25%         81.000000
50%         91.000000
75%        104.000000
max      51420.000000
Name: runtime_minutes, dtype: float64

In [195]:
ratings_basics.loc[ratings_basics['runtime_minutes'] >= 40]

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
0,tt0063540,7.0,77.0,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,7.2,43.0,One Day Before the Rainy Season,2019,114.0,"Biography,Drama"
2,tt0069049,6.9,4517.0,The Other Side of the Wind,2018,122.0,Drama
4,tt0100275,6.5,119.0,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy"
7,tt0137204,8.1,263.0,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy"
...,...,...,...,...,...,...,...
146113,tt9911774,8.4,365.0,Padmavyuhathile Abhimanyu,2019,130.0,Drama
146114,tt9913056,6.2,5.0,Swarm Season,2019,86.0,Documentary
146115,tt9913084,6.2,6.0,Diabolik sono io,2019,75.0,Documentary
146122,tt9914286,8.7,136.0,Sokagin Çocuklari,2019,98.0,"Drama,Family"
146134,tt9916160,6.5,11.0,Drømmeland,2019,72.0,Documentary

In [175]:
ratings_basics.loc[ratings_basics['numvotes'] >= 1500]

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
2,tt0069049,6.9,4517.0,The Other Side of the Wind,2018,122.0,Drama
20,tt0249516,1.9,8248.0,Foodfight!,2012,91.0,"Action,Animation,Comedy"
38,tt0315642,7.1,15378.0,Wazir,2016,103.0,"Action,Crime,Drama"
39,tt0323808,3.9,2328.0,The Wicker Tree,2011,96.0,"Drama,Horror"
41,tt0326965,5.5,1889.0,In My Sleep,2010,104.0,"Drama,Mystery,Thriller"
...,...,...,...,...,...,...,...
143242,tt9495224,7.3,91349.0,Black Mirror: Bandersnatch,2018,90.0,"Drama,Mystery,Sci-Fi"
143649,tt9558612,3.7,4057.0,PM Narendra Modi,2019,136.0,"Biography,Drama"
143660,tt9562694,2.6,1509.0,Alien Warfare,2019,88.0,"Action,Sci-Fi"
143729,tt9573980,7.1,19632.0,Leaving Neverland,2019,240.0,Documentary
145159,tt9778170,3.1,2220.0,Panodrama,2019,64.0,Documentary

In [196]:
#Data goes from 2010 to 2019
ratings_basics['start_year'].describe()

count    65720.000000
mean      2014.258065
std          2.600143
min       2010.000000
25%       2012.000000
50%       2014.000000
75%       2016.000000
max       2019.000000
Name: start_year, dtype: float64

In [215]:
movies_df = ratings_basics[ratings_basics.genres.isin(top_genres)].drop_duplicates()
movies_df

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
2,tt0069049,6.9,4517.0,The Other Side of the Wind,2018,122.0,Drama
10,tt0146592,6.8,451.0,Pál Adrienn,2010,136.0,Drama
12,tt0159369,7.6,53.0,Cooper and Hemingway: The True Gen,2013,180.0,Documentary
13,tt0162942,6.9,120.0,Children of the Green Dragon,2010,89.0,Drama
14,tt0170651,7.5,6.0,T.G.M. - osvoboditel,2018,60.0,Documentary
...,...,...,...,...,...,...,...
146103,tt9910502,7.0,9.0,Hayatta Olmaz,2019,97.0,Comedy
146113,tt9911774,8.4,365.0,Padmavyuhathile Abhimanyu,2019,130.0,Drama
146114,tt9913056,6.2,5.0,Swarm Season,2019,86.0,Documentary
146115,tt9913084,6.2,6.0,Diabolik sono io,2019,75.0,Documentary
146134,tt9916160,6.5,11.0,Drømmeland,2019,72.0,Documentary

In [225]:
#now filter out movies with low number of votes
movies_df = movies_df.loc[ratings_basics['numvotes'] >= 10000]
movies_df

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
62,tt0376136,6.2,94787.0,The Rum Diary,2011,119.0,"Comedy,Drama"
92,tt0427152,5.9,91546.0,Dinner for Schmucks,2010,114.0,Comedy
117,tt0443465,6.8,45181.0,Before We Go,2014,95.0,"Comedy,Drama,Romance"
137,tt0455323,6.4,15780.0,Being Flynn,2012,102.0,Drama
138,tt0455407,6.5,104465.0,The Crazies,2010,101.0,"Horror,Thriller"
...,...,...,...,...,...,...,...
131335,tt8169446,5.5,10819.0,Wine Country,2019,103.0,Comedy
131665,tt8201170,5.9,19116.0,The Perfect Date,2019,89.0,"Comedy,Romance"
132323,tt8267604,8.5,20215.0,Capernaum,2018,126.0,Drama
135841,tt8632862,6.7,11628.0,Fahrenheit 11/9,2018,128.0,Documentary
143729,tt9573980,7.1,19632.0,Leaving Neverland,2019,240.0,Documentary

In [226]:
movies_df.rename(columns= {'primary_title':'movie'})

,tconst,averagerating,numvotes,movie,start_year,runtime_minutes,genres
62,tt0376136,6.2,94787.0,The Rum Diary,2011,119.0,"Comedy,Drama"
92,tt0427152,5.9,91546.0,Dinner for Schmucks,2010,114.0,Comedy
117,tt0443465,6.8,45181.0,Before We Go,2014,95.0,"Comedy,Drama,Romance"
137,tt0455323,6.4,15780.0,Being Flynn,2012,102.0,Drama
138,tt0455407,6.5,104465.0,The Crazies,2010,101.0,"Horror,Thriller"
...,...,...,...,...,...,...,...
131335,tt8169446,5.5,10819.0,Wine Country,2019,103.0,Comedy
131665,tt8201170,5.9,19116.0,The Perfect Date,2019,89.0,"Comedy,Romance"
132323,tt8267604,8.5,20215.0,Capernaum,2018,126.0,Drama
135841,tt8632862,6.7,11628.0,Fahrenheit 11/9,2018,128.0,Documentary
143729,tt9573980,7.1,19632.0,Leaving Neverland,2019,240.0,Documentary

In [209]:
import numpy as np

In [212]:
budg= pd.read_csv('tn.movie_budgets.csv.gz')
budg['production_budget']=budg['production_budget'].str.replace(',','')
budg['domestic_gross']=budg['domestic_gross'].str.replace(',','')
budg['worldwide_gross']=budg['worldwide_gross'].str.replace(',','')
budg['production_budget']=budg['production_budget'].str.replace('$','').astype('int64')
budg['domestic_gross']=budg['domestic_gross'].str.replace('$','').astype('int64')
budg['worldwide_gross']=budg['worldwide_gross'].str.replace('$','').astype('int64')
#made sure the data was all integers in order for it to be able to sorted and analyzed
budg['net_pre_marketing']=budg['worldwide_gross']-budg['production_budget']
#made this column to indicate the best of my abilities the net profit
#it is unclear if advertising money is included(though i'm assuming it is not)
budg['domestic/world']=budg['domestic_gross']/budg['worldwide_gross']
#made this money to detirmine what percentage of worldwide earning were domestic
budg=budg.dropna()
budg['earnings/cost_ratio']=budg['net_pre_marketing']/budg['production_budget']
#this works as a percentage the movie recouperated its production budget
budg['year_released']=budg['release_date'].str[-4:].astype('int64')
#made a new column which
budg.drop(budg[budg['year_released'] < 2010].index, inplace = True)
budg.sort_values('worldwide_gross')
budg['Profitable?']= np.where(budg['earnings/cost_ratio']>= 2, True, False)
budget_df = budg.sort_values('earnings/cost_ratio')
budget_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,net_pre_marketing,domestic/world,earnings/cost_ratio,year_released,Profitable?
5302,3,"Dec 11, 2015",American Hero,1000000,0,26,-999974,0.000000,-0.999974,2015,False
4081,82,"May 21, 2010",Perrierâs Bounty,6600000,828,828,-6599172,1.000000,-0.999875,2010,False
3818,19,"May 8, 2015",Skin Trade,9000000,1242,1242,-8998758,1.000000,-0.999862,2015,False
5335,36,"Nov 21, 2014",Food Chains,913000,0,176,-912824,0.000000,-0.999807,2014,False
3161,62,"Sep 1, 2015",Broken Horses,15000000,0,3471,-14996529,0.000000,-0.999769,2015,False
...,...,...,...,...,...,...,...,...,...,...,...
4664,65,"Oct 20, 2010",Paranormal Activity 2,3000000,84752907,177512032,174512032,0.477449,58.170677,2010,True
5213,14,"Apr 17, 2015",Unfriended,1000000,32789645,64364198,63364198,0.509439,63.364198,2015,True
5062,63,"Apr 1, 2011",Insidious,1500000,54009150,99870886,98370886,0.540790,65.580591,2011,True
5211,12,"Jan 6, 2012",The Devil Inside,1000000,53262945,101759490,100759490,0.523420,100.759490,2012,True
5679,80,"Jul 10, 2015",The Gallows,100000,22764410,41656474,41556474,0.546480,415.564740,2015,True

In [230]:
frames[0]

,tconst,averagerating,numvotes,primary_title,start_year,runtime_minutes,genres
62,tt0376136,6.2,94787.0,The Rum Diary,2011,119.0,"Comedy,Drama"
92,tt0427152,5.9,91546.0,Dinner for Schmucks,2010,114.0,Comedy
117,tt0443465,6.8,45181.0,Before We Go,2014,95.0,"Comedy,Drama,Romance"
137,tt0455323,6.4,15780.0,Being Flynn,2012,102.0,Drama
138,tt0455407,6.5,104465.0,The Crazies,2010,101.0,"Horror,Thriller"
...,...,...,...,...,...,...,...
131335,tt8169446,5.5,10819.0,Wine Country,2019,103.0,Comedy
131665,tt8201170,5.9,19116.0,The Perfect Date,2019,89.0,"Comedy,Romance"
132323,tt8267604,8.5,20215.0,Capernaum,2018,126.0,Drama
135841,tt8632862,6.7,11628.0,Fahrenheit 11/9,2018,128.0,Documentary
143729,tt9573980,7.1,19632.0,Leaving Neverland,2019,240.0,Documentary

In [231]:
frames = [movies_df , budget_df]
mega_df = pd.merge(frames[0].rename(columns={'primary_title': 'movie'}), frames[1], how = 'left',  on = ['movie'])
mega_df

,tconst,averagerating,numvotes,movie,start_year,runtime_minutes,genres,id,release_date,production_budget,domestic_gross,worldwide_gross,net_pre_marketing,domestic/world,earnings/cost_ratio,year_released,Profitable?
0,tt0376136,6.2,94787.0,The Rum Diary,2011,119.0,"Comedy,Drama",16.0,"Oct 28, 2011",45000000.0,13109815.0,21544732.0,-23455268.0,0.608493,-0.521228,2011.0,False
1,tt0427152,5.9,91546.0,Dinner for Schmucks,2010,114.0,Comedy,51.0,"Jul 30, 2010",69000000.0,73026337.0,86796502.0,17796502.0,0.841351,0.257920,2010.0,False
2,tt0443465,6.8,45181.0,Before We Go,2014,95.0,"Comedy,Drama,Romance",52.0,"Sep 4, 2015",3000000.0,37151.0,483938.0,-2516062.0,0.076768,-0.838687,2015.0,False
3,tt0455323,6.4,15780.0,Being Flynn,2012,102.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0455407,6.5,104465.0,The Crazies,2010,101.0,"Horror,Thriller",36.0,"Feb 26, 2010",19000000.0,39123589.0,56445534.0,37445534.0,0.693121,1.970818,2010.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,tt8169446,5.5,10819.0,Wine Country,2019,103.0,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
676,tt8201170,5.9,19116.0,The Perfect Date,2019,89.0,"Comedy,Romance",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
677,tt8267604,8.5,20215.0,Capernaum,2018,126.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,tt8632862,6.7,11628.0,Fahrenheit 11/9,2018,128.0,Documentary,29.0,"Sep 21, 2018",5000000.0,6352306.0,6653715.0,1653715.0,0.954701,0.330743,2018.0,False
679,tt9573980,7.1,19632.0,Leaving Neverland,2019,240.0,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [234]:
mega_table = mega_df.dropna()
mega_table

,tconst,averagerating,numvotes,movie,start_year,runtime_minutes,genres,id,release_date,production_budget,domestic_gross,worldwide_gross,net_pre_marketing,domestic/world,earnings/cost_ratio,year_released,Profitable?
0,tt0376136,6.2,94787.0,The Rum Diary,2011,119.0,"Comedy,Drama",16.0,"Oct 28, 2011",45000000.0,13109815.0,21544732.0,-23455268.0,0.608493,-0.521228,2011.0,False
1,tt0427152,5.9,91546.0,Dinner for Schmucks,2010,114.0,Comedy,51.0,"Jul 30, 2010",69000000.0,73026337.0,86796502.0,17796502.0,0.841351,0.257920,2010.0,False
2,tt0443465,6.8,45181.0,Before We Go,2014,95.0,"Comedy,Drama,Romance",52.0,"Sep 4, 2015",3000000.0,37151.0,483938.0,-2516062.0,0.076768,-0.838687,2015.0,False
4,tt0455407,6.5,104465.0,The Crazies,2010,101.0,"Horror,Thriller",36.0,"Feb 26, 2010",19000000.0,39123589.0,56445534.0,37445534.0,0.693121,1.970818,2010.0,False
6,tt0466893,6.5,14708.0,Margaret,2011,150.0,Drama,27.0,"Sep 30, 2011",14000000.0,47185.0,623292.0,-13376708.0,0.075703,-0.955479,2011.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
650,tt6857166,6.1,18728.0,Book Club,2018,104.0,"Comedy,Drama,Romance",43.0,"May 18, 2018",10000000.0,68566296.0,91113683.0,81113683.0,0.752536,8.111368,2018.0,True
653,tt7014006,7.5,43256.0,Eighth Grade,2018,93.0,"Comedy,Drama",95.0,"Jul 13, 2018",2000000.0,13539710.0,14341016.0,12341016.0,0.944125,6.170508,2018.0,True
655,tt7125860,7.2,25512.0,If Beale Street Could Talk,2018,119.0,"Drama,Romance",96.0,"Dec 14, 2018",12000000.0,14915773.0,19859167.0,7859167.0,0.751077,0.654931,2018.0,False
663,tt7401588,7.4,46728.0,Instant Family,2018,118.0,"Comedy,Drama",20.0,"Nov 16, 2018",48000000.0,67363237.0,119736188.0,71736188.0,0.562597,1.494504,2018.0,False
678,tt8632862,6.7,11628.0,Fahrenheit 11/9,2018,128.0,Documentary,29.0,"Sep 21, 2018",5000000.0,6352306.0,6653715.0,1653715.0,0.954701,0.330743,2018.0,False